$black: #000000;
$white: #ffffff;
$background: #eeeeee;
$light_purple: rgb(67, 38, 128);
$medium_purple: #341570;
$dark_purple: #28065a;
$dark_pink: #660f56;
$light_pink: #cf6adc;
$orange: #fa983a;
$red: #e55039;
$green: #00bfa6;
$dark_green: #216e4a;
$blue: #4bacec;