@import './app.scss';

#home {
  padding-top: 10vh;
  height: 100vh;
  background-color: $background;
  display: flex;
  flex-direction: column;
  align-items: center;

  .content {
    // background-color: $medium_purple;
    width: 80%;
    height: 90vh;
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .left {
      display: flex;
      flex-direction: column;
      height: 100%;
      width: 55%;
      background-color: $white;
      border-radius: 40px;
      padding: 2.5rem;

      .todos-container {
        display: flex;
        flex-direction: column;
        height: 90vh;
        width: 100%;
        overflow: auto;

        .no-todos {
          font-size: 1.2rem;
          font-weight: 600;
          color: $black;
        }
      }
    }


    .right {
      display: flex;
      flex-direction: column;
      height: 100%;
      width: 40%;
      background-color: $white;
      border-radius: 40px;
      padding: 2.5rem;
    }

    .section-title {
      font-size: 2rem;
      color: $black;
      font-weight: 300;
      // text-shadow: 3px 2px 0 $red;
      margin-bottom: 5vh;
    }

    .section-description {
      font-size: 1.2rem;
      color: $white;
      font-weight: 400;
      margin-bottom: 1rem;
    }
  }
}